{% extends 'layout.html' %}

{% block pageTitle %}
  Start page template - NHS.UK prototype kit
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "/rapid-test-results",
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">


            <h1>
                Holywell Lane Community Test Site and LFT Collection Point
            </h1>
<h2>Site details</h2>
<h3 class="nhsuk-u-margin-bottom-1">Address</h3>
<p>Fearnville Leisure Centre, Oakwood Lane, Leeds, LS83LF</p>

<h3 class="nhsuk-u-margin-bottom-1">This site is</h3>
<p>Closed</p>

<h3 class="nhsuk-u-margin-bottom-1">Site status last updated</h3>
<p>28/03/2021 16:13</p>

<h3 class="nhsuk-u-margin-bottom-1">Normal opening times today</h3>
<p>	Mon 02:30pm - 08:00pm<br>
        <strong>Tue</strong> 02:30pm - 08:00pm<br>
        <strong>Wed</strong> 02:30pm - 08:00pm<br>
        <strong>Thu</strong> 02:30pm - 08:00pm<br>
        <strong>Fri</strong> 02:30pm - 08:00pm<br>
        <strong>Sat</strong> 02:30pm - 08:00pm<br>
        <strong>Sun</strong> 02:30pm - 08:00pm</p>

<h3 class="nhsuk-u-margin-bottom-1">Site type</h3>
<p>	Pick up site - for at home test kits<br>
        Test kits available</p>

<h3 class="nhsuk-u-margin-bottom-1">Test offered</h3>
<p>None</p>

<h3 class="nhsuk-u-margin-bottom-1">Facilities and services</h3>
<p></p>

<h3 class="nhsuk-u-margin-bottom-1">Additional site info</h3>
<p>Schools LFD kit collection only</p>

          


    </div>


    

  </div>





  





{% endblock %}
