{% extends 'layout.html' %}

{% block pageTitle %}
  Start page template - NHS.UK prototype kit
{% endblock %}



{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">



          <!--<p>Rapid lateral flow tests are tests to check if you have coronavirus (COVID-19) if you do not have symptoms.</p>-->
       

          <fieldset class="nhsuk-fieldset">
                <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l nhsuk-u-margin-bottom-0">
                  <h1 >
                      Find where to get rapid lateral flow tests
                  </h1>
                </legend>
                <p>Rapid lateral flow tests are for people who do not have coronavirus (COVID-19) symptoms. <a href="#">More about rapid tests and other ways to get tests</a>.</p>

                <div class="nhsuk-inset-text nhsuk-u-margin-top-0">
                    <span class="nhsuk-u-visually-hidden">Information: </span>
                    <p>If you do have coronavirus symptoms, you need a PCR test. <a href="#">Get a PCR test if you have coronavirus symptoms on GOV.UK</a>.</p>         
      
                  </div>
    
    

              
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label" for="address-town">
                        Enter a town, city or postcode in England 
                  </label>
                  <input class="nhsuk-input nhsuk-u-width-two-thirds" id="address-town" name="address-town" type="text">
                </div>
              
           
            
              
              </fieldset>

              <a href="/rapid-test-results" class="nhsuk-button nhsuk-u-margin-top-0">
                Search
              </a>



              <p>This finder is also available in <a href="#">Welsh (Cymraeg)</a>.</p>



         
    </div>


    

  </div>





  





{% endblock %}
