{% extends 'layout.html' %}

{% block pageTitle %}
  Start page template - NHS.UK prototype kit
{% endblock %}



{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">



          <!--<p>Rapid lateral flow tests are tests to check if you have coronavirus (COVID-19) if you do not have symptoms.</p>-->
       


              
    

                <div class="nhsuk-form-group">

                        <fieldset class="nhsuk-fieldset">
                          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
                            <h1 class="nhsuk-fieldset__heading">
                              Do you have Coronavirus (COVID-19) symptoms
                            </h1>
                          </legend>
                      
                          <div class="nhsuk-radios">
                      
                            <div class="nhsuk-radios__item">
                              <input class="nhsuk-radios__input" id="example-1" name="example" type="radio" value="yes">
                              <label class="nhsuk-label nhsuk-radios__label" for="example-1">
                                Yes - I do have Coronavirus (COVID-19) symptoms
                              </label>
                            </div>
                      
                            <div class="nhsuk-radios__item">
                              <input class="nhsuk-radios__input" id="example-2" name="example" type="radio" value="no">
                              <label class="nhsuk-label nhsuk-radios__label" for="example-2">
                                No - I do not have Coronavirus (COVID-19) symptoms
                              </label>
                            </div>
                      
                          </div>
                        </fieldset>
                      
                      </div>
              
           
            
              
              </fieldset>

              <a href="/rapid-test-results" class="nhsuk-button nhsuk-u-margin-top-0">
                Search
              </a>






         
    </div>


    

  </div>





  





{% endblock %}
